<h2>{{title}}</h2>
<h3>{{current_layar}}</h3>
<form action="" method="post">
    {% csrf_token %}
    {% for k in layar %}
    <div class="kategori">
        <span>{{current_layar}}</span>
        <input type="radio" name="{{k}}" id="5" value="5">
        <label for="5">5</label>
        <input type="radio" name="{{k}}" id="3" value="3">
        <label for="3">3</label>
        <input type="radio" name="{{k}}" id="1" value="1">
        <label for="1">1</label>
        <input type="radio" name="{{k}}" id="3" value="1/3">
        <label for="3">3</label>
        <input type="radio" name="{{k}}" id="5" value="1/5">
        <label for="5">5</label>
        <span>{{k}}</span>
    </div>
    {% endfor %}

    <input type="submit" value="submit">
</form>